# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
astro-sdk-python[postgres]==1.6.1
astronomer-providers[core]==1.17.1